body {
    background-color: #2a2a2a;
    color: #ffffff;
    font-family: verdana;
}

h2 {
    color: #bb92f0
}

h3 {
    color: #85c8d7
}

p, ul {
    font-size: 15px;
}

li {
    margin: 15px 0;
}

#gatyImage {
    width: 500px;
    height: 500px;
}

.cocoImages {
    width: 350px;
    height: 350px;
    position: relative;
    right: -80px;
    padding-right: 5px;
    border-radius: 15px;
}