body {
    background-color: #2a2a2a;
    color: #ffffff;
    font-family: verdana;
}

h2 {
    color: #bb92f0
}

h3 {
    color: #7bb9c7
}

p, ul {
    font-size: 15px;
}

li {
    margin: 15px 0;
}

#gatyImage {
    width: 500px;
    height: 500px;
}

#cocoImage {
    width: 250px;
    height: 250px;
    position: relative;
    right: -80px;
}